html,

#app {
  min-height: 100%;
}

body {
  font-family: "Proxima Nova", sans-serif !important;
}

a {
  text-decoration: none;
}

.v-table.v-table--fixed-header>.v-table__wrapper>table>thead>tr>th {
  background: #00695c !important;
  border: 1px solid #00695c;
  color: white;
  font-weight: bold;
}

.v-table>.v-table__wrapper>table>tbody>tr>td,
.v-table>.v-table__wrapper>table>tbody>tr>th,
.v-table>.v-table__wrapper>table>thead>tr>td,
.v-table>.v-table__wrapper>table>thead>tr>th {
  padding: 0 8px !important;
}

.v-table--fixed-height>.v-table__wrapper {
  scrollbar-color: #00695c !important;
  scrollbar-width: thin;
}

.v-main {
  max-height: 100vh;
}

.text-h6-rem {
  font-size: 1rem !important;
}

.v-card>.v-btn {
  background: #006941 0.8;
  color: inherit;
}

.v-text-field>{
  min-width: 100px;
}

