<template>
  <v-form @submit="onSubmit">
    <v-text-field
      v-model="values.login"
      v-autoselect
      autofocus
      :label="t('input_username')"
      type="text"
      autocomplete="username"
      variant="outlined"
      :placeholder="t('input_username')"
      :error-messages="errors.login"
      :disabled="loading"
      class="mb-2"
      @update:model-value="() => emit('input-value')"
    />
    <v-text-field
      v-model="values.password"
      v-autoselect
      :label="t('input_password')"
      type="password"
      autocomplete="current-password"
      :placeholder="t('input_password')"
      variant="outlined"
      :error-messages="errors.password"
      :disabled="loading"
      @update:model-value="() => emit('input-value')"
    />
    <v-checkbox v-model="values.rememberMe" :label="t('label_remember')" :disabled="loading" />
    <v-btn color="primary" block type="submit">
      {{ confirmCaption }}
    </v-btn>
  </v-form>
</template>

<script lang="ts" setup>
  import { onUnmounted, ref } from "vue";
  import { useForm, useField } from "vee-validate";
  import { useI18n } from "vue-i18n";
  import { object, string, boolean } from "yup";

  import { LoginType, type LoginData, type LoginFormData } from "@/shared/services";

  import { messages } from "./locale";

  defineProps<Props>();

  const emit = defineEmits<{
    (e: "confirmed", value: LoginFormData): void;
    (e: "input-value"): void;
  }>();

  const { t } = useI18n({ messages });

  interface Props {
    confirmCaption: string;
  }

  const loading = ref(false);

  const formSchema = object({
    login: string().required(t("input_username_required_message")),
    password: string().nullable(),
    rememberMe: boolean(),
  });

  const { handleSubmit, values, errors } = useForm<LoginData>({
    validationSchema: formSchema,
    initialValues: {
      login: "",
      password: "",
      rememberMe: true,
    },
  });
  useField("login");
  useField("password");

  const onSubmit = handleSubmit(async function (formValues): Promise<void> {
    emit("confirmed", {
      type: LoginType.Password,
      login: formValues.login,
      password: formValues.password,
    });
  });

  onUnmounted(() => {
    values.login = "";
    values.password = "";
  });
</script>
