<template>
  <v-card class="justify-center px-16 py-8" width="500px" height="auto" rounded="xl" color="background">
    <v-row justify="center">
      <v-col>
        <h1 class="text-center mb-3">
          {{ t("header_form") }}
        </h1>
        <LoginByPasswordForm :confirm-caption="t('button_submit')" @confirmed="login" @input-value="onInputValue" />
        <v-alert v-show="authError" type="error" variant="tonal" class="mt-3">
          {{ authError }}
        </v-alert>
      </v-col>
    </v-row>
  </v-card>
</template>

<script lang="ts" setup>
  import { default as LoginByPasswordForm } from "./LoginByPasswordForm.vue";

  import { ref } from "vue";
  import { useI18n } from "vue-i18n";

  import { DI_KEY, RouteName } from "@/shared/constants";

  import { messages } from "./locale";
  import { LoginFormData } from "@/shared/services";
  import { injectStrict } from "@/shared/utils";
  import { useRouter } from "vue-router";

  const { t } = useI18n({ messages });

  const router = useRouter();

  const authError = ref("");

  const { authService } = injectStrict(DI_KEY);

  async function login(data: LoginFormData): Promise<void> {
    try {
      const result = await authService.loginByForm(data);
      if (!result?.success) {
        authError.value = result?.errorMessage || "";
      } else {
        router.push({ name: RouteName.Home });
      }
    } catch {
      authError.value = t("auth_error");
    }
  }

  const onInputValue = () => {
    authError.value = "";
  };
</script>
