<template>
  <v-row no-gutters class="fill-height w-100 overflow-auto">
    <v-col class="fill-height">
      <!-- <ProductTable :delivery="deliveries.deliveries" :loading="deliveries.loading" /> -->
      <Delivery
        :deliveries="deliveriesInfo.deliveries"
        :loading="deliveriesInfo.loading"
        @setinputedquantities="setInputedQuantities"
        @setquantity="setQuantity"
      />
    </v-col>
  </v-row>
</template>

<script setup lang="ts">
  import { useDeliveryDataSource } from "@/app/store";
  import { DeliveryInfo } from "@/shared/domains/delivery";
  import { onMounted } from "vue";
  import Delivery from "@/shared/ui/components/Delivery.vue";

  const deliveriesInfo = useDeliveryDataSource();

  onMounted(async () => {
    await deliveriesInfo.fetch();
  });

  const setInputedQuantities = async (item: DeliveryInfo) => {
    if (await deliveriesInfo.setQuantities(item)) {
      // очистити введені значення
      item.Productions.forEach((product) => product.QuantityToCountries.forEach((country) => (country.InputQuantity = 0)));
      // оновити інформацію по залишкам
      await deliveriesInfo.fetch();
    }
  };

  const setQuantity = (departmentId: number, resourceCode: string, countryCode: string, value: number) => {
    deliveriesInfo.setQuantity(departmentId, resourceCode, countryCode, value);
  };
</script>
