<template>
  <AppHeader />
  <v-main>
    <v-container class="fill-height pa-0" fluid>
      <router-view />
    </v-container>
  </v-main>
</template>

<script lang="ts" setup>
  import { AppHeader } from "@/shared/ui/components";
</script>
