<template>
  <v-app-bar prominent flat :border="false" height="48">
    <v-icon color="grey-darken-3" icon="mdi-warehouse" class="ml-3" />
    <span class="text-h6-rem ml-3 hidden-sm-and-down">Здача готової продукції</span>
    <v-card v-if="deliveriesInfo.deliveries" flat class="text-h6-rem text-bold ml-3 hidden-sm-and-down px-2 d-flex align-center">
      <v-btn
        v-if="deliveriesInfo.isChangeQuantity"
        :loading="deliveriesInfo.quantityLoading"
        variant="tonal"
        density="comfortable"
        class="v-btn-variant-tonal"
        @click="deliveriesInfo.approveAllInputedQuantities()"
      >
        Затвердити
      </v-btn>
    </v-card>
    <v-spacer />
    <UserCard />
  </v-app-bar>
</template>

<script setup lang="ts">
  import { useDeliveryDataSource } from "@/app/store";
  import { default as UserCard } from "./UserCard.vue";

  const deliveriesInfo = useDeliveryDataSource();
</script>
