<template>
  <v-card>
    <v-tabs bg-color="teal-darken-3" center-active>
      <v-tab
        v-for="info in props.deliveries"
        :key="info.DepartmentId"
        :text="info.DepartmentName"
        :value="info.DepartmentId"
        @click="selectDelivery(info.DepartmentId)"
      >
      </v-tab>
    </v-tabs>
    <ProductTable
      v-if="selectedDelivery"
      :delivery="selectedDelivery"
      :loading="props.loading"
      @setinputedquntity="setInputedQuntity"
    />
  </v-card>
</template>

<script setup lang="ts">
  import { DeliveryInfo } from "@/shared/domains/delivery";
  import ProductTable from "@/shared/ui/components/ProductTable.vue";
  import { ref } from "vue";

  const props = defineProps<Props>();
  const emit = defineEmits<{
    (e: "setquantity", departmentId: number, resourceCode: string, countryCode: string, value: number): void;
  }>();

  interface Props {
    deliveries: DeliveryInfo[];
    loading: boolean;
  }

  const selectedDelivery = ref<DeliveryInfo>();
  const selectDelivery = (departmentId: number): DeliveryInfo | undefined => {
    selectedDelivery.value = props.deliveries.find((del) => del.DepartmentId === departmentId);
    return selectedDelivery.value;
  };

  const setInputedQuntity = (departmentId: number, resourceCode: string, countryCode: string, value: number) => {
    emit("setquantity", departmentId, resourceCode, countryCode, value);
  };
</script>
