<template>
  <div style="height: calc(100%)">
    <v-table
      bg-color="teal-darken-3"
      fixed-header
      height="100%"
      hover
      :loading="loading"
      loading-text="Завантаження даних..."
      no-data-text="На даний час відсутня готова продукція до здачі."
    >
      <thead>
        <tr>
          <template v-for="header in headerDelivery" :key="header.key">
            <th class="text-center">
              {{ header.title }}
            </th>
          </template>
          <template v-for="country in countries" :key="country">
            <template v-for="headerQuantity in headerCountryQuantity" :key="headerQuantity.key">
              <th class="text-center">
                {{ country.concat(". ", headerQuantity.title) }}
              </th>
            </template>
          </template>
        </tr>
      </thead>
      <tbody>
        <tr v-for="product in delivery?.Productions" :key="product.ResourceCode" class="cursor-pointer text-center">
          <td class="text-caption text-left">{{ product.ResourceName }}</td>
          <td class="text-caption">{{ product.Quntities.Plan }}</td>
          <td class="text-caption">{{ product.Quntities.Fact }}</td>
          <td class="text-caption">{{ product.Quntities.Stock }}</td>

          <template v-for="countryCode in countries" :key="countryCode">
            <template
              v-for="country in [product.QuantityToCountries.find((c) => c.CountryCode === countryCode)]"
              :key="country?.CountryCode"
            >
              <td class="text-caption">{{ country?.Quntities.Plan }}</td>
              <td class="text-caption">{{ country?.Quntities.Fact }}</td>
              <td class="text-caption">{{ country?.Quntities.Stock }}</td>
              <td class="text-caption" min-width="150px">
                <v-text-field
                  v-if="country"
                  v-model="country.InputQuantity"
                  v-autoselect
                  :rules="[inputValid(country)]"
                  density="compact"
                  variant="outlined"
                  type="number"
                  hide-details
                  min="0"
                  :max="country.Quntities.Stock"
                  @update:model-value="
                    (v) =>
                      setInputedQuantityDebounced(
                        delivery?.DepartmentId || 0,
                        product.ResourceCode,
                        country.CountryCode,
                        country.Quntities.Stock,
                        v
                      )
                  "
                >
                </v-text-field>
              </td>
            </template>
          </template>
        </tr>
      </tbody>
    </v-table>
  </div>
</template>

<script setup lang="ts">
  import { headerDelivery, headerCountryQuantity } from "@/shared/constants/headers";
  import { DeliveryInfo, QuantityToCountry } from "@/shared/domains/delivery";
  import { debounce } from "ts-debounce";
  import { computed } from "vue";

  const props = defineProps<Props>();
  const emit = defineEmits<{
    (e: "setinputedquntity", departmentId: number, resourceCode: string, countryCode: string, value: number): void;
  }>();

  interface Props {
    delivery: DeliveryInfo | undefined;
    loading: boolean;
  }

  const setInputedQuantity = (
    departmentId: number,
    resourceCode: string,
    countryCode: string,
    stockQuantity: number,
    v: string
  ): number => {
    let value = Number(v);
    if (value < 0) {
      return 0;
    }
    if (stockQuantity < value) {
      value = 0;
    }
    emit("setinputedquntity", departmentId, resourceCode, countryCode, value);
    return value;
  };

  const setInputedQuantityDebounced = debounce(setInputedQuantity, 300);

  function sortCountry(a: string, b: string): number {
    return a > b ? 1 : 0;
  }

  function inputValid(item: QuantityToCountry): boolean {
    const value = item.InputQuantity;
    if (value < 0) {
      return false;
    }
    if (item.Quntities.Stock < value) {
      return false;
    }
    return true;
  }

  const countries = computed((): string[] => {
    const result = new Set<string>();
    props.delivery?.Productions.forEach((prod) => prod.QuantityToCountries.forEach((country) => result.add(country.CountryCode)));
    return Array.of(...result).sort(sortCountry);
  });
</script>
