<template>
  <v-sheet>
    <!--<v-avatar v-if="profile.userDetails?.userPhoto" size="48">
      <v-img :src="profile.userDetails?.userPhoto" />
    </v-avatar>-->
    <span>{{ profile.userDetails?.userName || "-" }}</span>
    <v-btn flat icon="mdi-logout" class="ml-2" @click="singOut"> </v-btn>
  </v-sheet>
</template>

<script setup lang="ts">
  import { useProfileStore } from "@/app/store";
  import { RouteName } from "@/shared/constants";
  import { onMounted } from "vue";
  import { useRouter } from "vue-router";

  const profile = useProfileStore();
  const router = useRouter();

  const singOut = async () => {
    await profile.logOut();
    router.push({ name: RouteName.Login });
  };

  onMounted(() => {
    profile.fetch();
  });
</script>
