<template>
  <v-container class="login-container pa-0 ma-0" fluid>
    <v-row class="fill-height" align-content="center" justify="center">
      <router-view />
    </v-row>
  </v-container>
</template>

<style scoped>
  .login-container {
    height: 100vh;
  }
</style>
